<section class="viewWrapper">
    <header class="viewHeader text-right">
        <span>Haven't signed up yet, </span>
        <a href="#/register" class="btn btn-info">Join now!</a>
    </header>
    <div class="viewContainer loginContainer">
        <form class="loginForm center" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success float-right">Let me in!</button>
                <span class="forgotPassword float-left">Sorry, I forgot my password</span>
            </div>

        </form>
    </div>
</section>