<section class="viewWrapper">
    <header class="viewHeader text-right">
        <span>Haven't signed up yet, </span>
        <a href="#/register" class="btn btn-info">Join now!</a>
    </header>
    <div class="viewContainer loginContainer" ng-repeat="user in [login.user]">
        <form class="loginForm center" novalidate   ng-submit="login.authorize(user)">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="text" class="form-control" ng-class="{'ng-invalid-email': user.invalidEmail}" required ng-model="user.email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="password" class="form-control" required ng-model="user.password" placeholder="Password">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success float-right">Let me in!</button>
                <span class="forgotPassword float-left" ng-bind="user.message || 'Hi, we will wait for you'"></span>
            </div>
        </form>
    </div>
</section>