<section class="viewWrapper">
    <header class="viewHeader text-right">
        <span>Already have an account, </span>
        <a href="#/login" class="btn btn-info">Login now!</a>
    </header>
    <div class="viewContainer loginContainer">
        <form class="loginForm center" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">N</div>
                    <input type="text" class="form-control" placeholder="Name">
                </div>
            </div> 
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="text" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="password" class="form-control" placeholder="Confirmation">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success float-right">Sign me up!</button>
            </div>

        </form>
    </div>
</section>