<section class="viewWrapper">
    <header class="viewHeader filterWrapper">
        <ul class="filterContainer" ng-repeat="filter in [dashboard.filter]">
            <li class="filter searchFilter input-group">
                <form>
                    <input type="search" class="form-control" placeholder="search for title" ng-model="filter.title" ng-model-options="{'updateOn': 'blur'}"
                        ng-change="dashboard.searchMovie(filter)" />
                </form>
                <div class="input-group-addon pointer">
                    <span class="fa fa-search"></span>
                </div>

            </li>
            <li class="filter typeFilter">
                <select class="form-control" ng-model="filter.type" ng-change="dashboard.searchMovie(filter)">
                    <option value="movie">Movie</option>
                    <option value="series">Series</option>
                    <option value="episode">Episode</option>
                </select>
            </li>
            <li class="filter releaseYearFilter">
                <form>
                    <input type="search" class="form-control" ng-model="filter.releaseYear" ng-model-options="{'updateOn': 'blur'}" ng-change="dashboard.searchMovie(filter)"
                        placeholder="Year of release">
                </form>
            </li>
        </ul>
    </header>
    <div class="viewContainer gridContainer">

        <div ng-if="!dashboard.curMovie && !dashboard.searchingMovie" class="searchForMovie center fa-2x">
            Search for a movie
        </div>
        <div ng-if="dashboard.searchingMovie" class="center">
            <span class="fa fa-spinner fa-spin fa-6x"></span>
        </div>

        <div class="searchedMovieWrapper" ng-if="!dashboard.searchingMovie">

            <article class="movieContainer" ng-repeat="movie in [dashboard.curMovie]">
                <header class="movieHeader clear">
                    <div class="movieTitle float-left">
                        <h3>
                       <span ng-bind="movie.Title"></span> 
                       <span class="font-16" ng-bind-template="({{movie.Year}})"></span>
                    </h3>
                        <h4>
                        <span ng-bind="movie.Genre"></span>
                    </h4>
                    </div>
                    <div class="usersMovieInfo float-right">
                        <ul ng-class="{'user-ratings': movie.userRatings}">
                            <li class="fa fa-3x pointer" ng-click="dashboard.updateUserMovie(movie)" ng-class="movie.isWatched?'fa-eye':'fa-eye-slash'"></li>
                            <li ng-if="movie.isWatched" on-update="dashboard.updateRatings" star-rating score="{{movie.rating}}" max="10"></li>
                        </ul>
                    </div>
                </header>
                <div class="movieInfoWrapper clear">
                    <picture class="moviePosterWrapper">
                        <img class="moviePoster" ng-src="{{movie.Poster}}" alt="{{movie.Title}}">
                    </picture>
                    <ul class="movieInfoContainer">
                        <li class="movieInfo">
                            <span class="title">Director: </span>
                            <span class="info" ng-bind="movie.Director"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">Actors: </span>
                            <span class="info" ng-bind="movie.Actors"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">Language: </span>
                            <span class="info" ng-bind="movie.Language"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">Rated: </span>
                            <span class="info" ng-bind="movie.Rated"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">Runtime: </span>
                            <span class="info" ng-bind="movie.Runtime"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">Country: </span>
                            <span class="info" ng-bind="movie.Country"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">Awards: </span>
                            <span class="info" ng-bind="movie.Awards"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">IMDB Rating: </span>
                            <span class="info" ng-bind="movie.imdbRating"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">Released: </span>
                            <span class="info" ng-bind="movie.Released"></span>
                        </li>
                        <li class="movieInfo">
                            <span class="title">Plot: </span>
                            <span class="info" ng-bind="movie.Plot"></span>
                        </li>
                    </ul>
                </div>
            </article>

        </div>

    </div>
</section>