.loginForm .input-group-addon {
    min-width: 45px;
    font-size: 20px;
}
.viewHeader {
    margin: 15px 25px;
    font-size: large;
}

.forgotPassword{
    color: rgb(166, 199, 222);
    cursor: pointer;
    line-height: 30px;
}
.forgotPassword:hover {
    color: #CEDC58;
}
.ng-submitted .ng-invalid-email,
.ng-submitted .ng-invalid-required{
    background-color: rgba(216, 71, 71, 0.88);
    color: #F7F3F3;    
}